################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pindoo/bin/

/Pindoo/obj/
/Pindoo/.vs/
/Pindoo/appsettings.Development.json
/Pindoo/node_modules
