<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pindoo</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body data-theme="retro">
    <div class="flex items-center flex-col bg-base-100">

        <div class="navbar bg-base-300 rounded flex justify-center">
            <div class="flex w-full max-w-[1000px] justify-between">
                <a href="/">
                    <img src="/images/logo.png" width="120" height="120" />
                </a>
                <a href="/penztar" class="flex">
                    <img src="/images/cart-line-icon.svg" width="40" height="40" />
                    <span class="badge badge-primary font-bold absolute ml-8">
                        @ViewBag.CartItemCount
                    </span>
                </a>
            </div>
        </div>

        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
